body {
  background-color: #232356;
  font-family: Consolas, "courier new";
  color: #ffffff;
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}
#goobert {
  margin: 5em;
  animation: spin 0.7s linear infinite;
}
h1 {
  letter-spacing: 5px;
  font-size: 50px;
  color: #adffad;
}
#watch {
  background-color: rgba(0, 0, 0, 40%);
  font-size: 150%
}
button {
  margin: 3em;
  font-family: Consolas, "courier new";
  background-color: #234523;
  color: #ffffff;
  border-radius: 0.8em;
}
